<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="container">
        <h1>Log In</h1>
        <div>
    <form class="login-form" method="post" action="/login">
        <label>User Name:</label><input type="text" name="username">
        <label>Email:</label><input type="text" name="email">
        <label>Password:</label><input type="password" name="password">
        
        <button type="submit">Submit</button>
    </form>
    </div>
    </div>
</body>
</html>